# NOTE: This class is auto generated by the swagger code generator program.
# https://github.com/swagger-api/swagger-codegen.git
# Do not edit the class manually.

defmodule BungieNetAPI.Api.Trending do
  @moduledoc """
  API calls for all endpoints tagged `Trending`.
  """

  alias BungieNetAPI.Connection
  import BungieNetAPI.RequestBuilder


  @doc """
  Returns trending items for Bungie.net, collapsed into the first page of items per category. For pagination within a category, call GetTrendingCategory.

  ## Parameters

  - connection (BungieNetAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %BungieNetAPI.Model.InlineResponse20053{}} on success
  {:error, info} on failure
  """
  @spec trending_get_trending_categories(Tesla.Env.client, keyword()) :: {:ok, BungieNetAPI.Model.InlineResponse20053.t} | {:error, Tesla.Env.t}
  def trending_get_trending_categories(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/Trending/Categories/")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%BungieNetAPI.Model.InlineResponse20053{})
  end

  @doc """
  Returns paginated lists of trending items for a category.

  ## Parameters

  - connection (BungieNetAPI.Connection): Connection to server
  - category_id (String.t): The ID of the category for whom you want additional results.
  - page_number (integer()): The page # of results to return.
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %BungieNetAPI.Model.InlineResponse20054{}} on success
  {:error, info} on failure
  """
  @spec trending_get_trending_category(Tesla.Env.client, String.t, integer(), keyword()) :: {:ok, BungieNetAPI.Model.InlineResponse20054.t} | {:error, Tesla.Env.t}
  def trending_get_trending_category(connection, category_id, page_number, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/Trending/Categories/#{category_id}/#{page_number}/")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%BungieNetAPI.Model.InlineResponse20054{})
  end

  @doc """
  Returns the detailed results for a specific trending entry. Note that trending entries are uniquely identified by a combination of *both* the TrendingEntryType *and* the identifier: the identifier alone is not guaranteed to be globally unique.

  ## Parameters

  - connection (BungieNetAPI.Connection): Connection to server
  - identifier (String.t): The identifier for the entity to be returned.
  - trending_entry_type (integer()): The type of entity to be returned.
  - opts (KeywordList): [optional] Optional parameters

  ## Returns

  {:ok, %BungieNetAPI.Model.InlineResponse20055{}} on success
  {:error, info} on failure
  """
  @spec trending_get_trending_entry_detail(Tesla.Env.client, String.t, integer(), keyword()) :: {:ok, BungieNetAPI.Model.InlineResponse20055.t} | {:error, Tesla.Env.t}
  def trending_get_trending_entry_detail(connection, identifier, trending_entry_type, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/Trending/Details/#{trending_entry_type}/#{identifier}/")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> decode(%BungieNetAPI.Model.InlineResponse20055{})
  end
end
